            <p class="text-slate-500 text-xs md:text-sm">
                &copy; 2026 <%= name_page %> Online. Todos los derechos reservados. <br class="hidden sm:block">
                Solo mayores de +18 años. Juega con responsabilidad.
            </p>